
$colorPrincipal:rgb(24,23,23);


header{
    background-color:$colorPrincipal;

    @if $colorPrincipal == rgb(24,23,23){
      background-color: rgb(27, 1, 37);
    }
}

@import "navegacion";

h1{
    color:rgb(220, 20, 97);
    font-size: 72px;
    background-color: rgb(128, 192, 157);
    font-weight:bolder;
    letter-spacing: 3px;
    text-align: center;
    line-height: 2cm;
    padding: 2rem;
    border: solid 5px;
    border-radius: 2cm;
    margin-left: 7cm;
    margin-right: 7cm;
}
h1:hover{
    color: rgb(221, 162, 172);
    font-style: normal;
    background-color: rgb(176, 224, 220);
}
h2{
    color: rgb(152, 153, 224);
    font-size: x-large;
}
h3{
    color: black;
    text-align: center;
    font-size: 2rem;
}

h5{
  font-size: large;
  color: rgb(59, 59, 59);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  
@if $colorPrincipal != rgb(24,23,23){
  background-color: rgb(24,23,23);
}

    color: rgb(214, 178, 132);
    background-color: $colorPrincipal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    font-style: italic;
    text-decoration: none;
    word-spacing: 4px;
}
p{
    color: rgb(177, 177, 177);
    text-align: center;
}

@import "footer";

ul{
    list-style: none;
}
li{
    display: inline-block;width: 25%;
    position: relative;
    font-size: xx-large;
    text-align: center;
    padding-top: 1cm;
}



/*CLASES*/

.divcards{
  background-color: (24, 23, 23);
}

.h2{
    color: rgb(66, 66, 66);
    font-size: xx-large;
}
.iniciarsesion{
text-align: right;
}
.back{
    background-image:url(img/backgrounddegrade.jpg)
}
.backcolor{
    background-image: url(img/pexels-1091994.jpg);

}
.textoprin{
    text-align: justify;
    display: flex;
}
.texto{
     padding: 1cm;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color:darkkhaki;
     margin-left: auto;
     border-radius: 0.12cm;
     border-top: dotted 15px red;
     border-left: dotted 15px rgb(55, 0, 255);
     border-right: dotted 15px green;
     border-bottom:  dotted 15px rgb(255, 196, 0);
     -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.datos{
    text-align: center;
    text-decoration: underline;
}
.formulario{
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu{
    display: flex;
    padding: 0.5cm;
    text-align: center;
    border: solid 5px rgb(0, 195, 255);
    margin-left: 5cm;
    margin-right: 5cm;
}
.flexIndex{
    display: flex;
    justify-content:space-around;
}
.nuestrosVendedores{
    text-align: center;
    color:rgb(231, 216, 229);
    font-size: 3rem;
}

.ordenTabla{
    display: flex;
    color: rgb(0, 0, 0);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#grideventos{
    display: grid;
    border-style: groove;
    border-width: 1rem;
    border-color: brown;
    color: rgb(142, 228, 142);
    font-size: x-large;
    text-transform: capitalize;
  
}
#otrogrid{
    display: grid;
    border-style: groove;
    border-width: 1rem;
    border-color: rgb(42, 165, 114);
    color: rgb(228, 142, 178);
    font-size:2rem;
   
    text-align: center;
}

.color-change-5x {
	-webkit-animation: color-change-5x 8s linear infinite alternate both;
	        animation: color-change-5x 8s linear infinite alternate both;
}




/* BACKGROUND MULTICOLOR*/
 @-webkit-keyframes color-change-5x {
    0% {
      background: #19dcea;
    }
    25% {
      background: #b22cff;
    }
    50% {
      background: #ea2222;
    }
    75% {
      background: #f5be10;
    }
    100% {
      background: #3bd80d;
    }
  }
  @keyframes color-change-5x {
    0% {
      background: #19dcea;
    }
    25% {
      background: #b22cff;
    }
    50% {
      background: #ea2222;
    }
    75% {
      background: #f5be10;
    }
    100% {
      background: #3bd80d;
    }
  }
  


  /* YO COMPRO EFFECTS*/

  .jello-horizontal {
	-webkit-animation: jello-horizontal 1s 1s backwards;
	        animation: jello-horizontal 1s 1s backwards;
}

@-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  /*Text animation*/
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  /*imagen portada effect*/

  .rotate-in-2-fwd-ccw {
	-webkit-animation: rotate-in-2-fwd-ccw 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-2-fwd-ccw 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes rotate-in-2-fwd-ccw {
    0% {
      -webkit-transform: translateZ(-200px) rotate(45deg);
              transform: translateZ(-200px) rotate(45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) rotate(0);
              transform: translateZ(0) rotate(0);
      opacity: 1;
    }
  }
  @keyframes rotate-in-2-fwd-ccw {
    0% {
      -webkit-transform: translateZ(-200px) rotate(45deg);
              transform: translateZ(-200px) rotate(45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) rotate(0);
              transform: translateZ(0) rotate(0);
      opacity: 1;
    }
  }
  /* animacion imagenes index*/
  .roll-in-blurred-right {
	-webkit-animation: roll-in-blurred-right 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: roll-in-blurred-right 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
 @-webkit-keyframes roll-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) rotate(720deg);
              transform: translateX(1000px) rotate(720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes roll-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) rotate(720deg);
              transform: translateX(1000px) rotate(720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  